/* Button */
.button {
  color: var(--title-text-color);
  background-color: var(--background-light-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  text-decoration: none;
  border: none;
  outline: none;
}

.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* Portfolio layout */
.portfolio-element {
  text-decoration: none;
  color: inherit;
}

.name {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.group {
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
}
