/* Button */
.button {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
}

/* Hero */
.hero {
  background-color: var(--background-dark-color);
}

.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Section */
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Advantages */
.advantages .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* Team */
.team.section {
  background-color: var(--background-light-color);
}

.team .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
