:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --background-light-color: #f5f4fa;
  --background-dark-color: #2f303a;
}

.list {
  list-style: none;
}

body {
  color: var(--primary-text-color);
  font-family: roboto, raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* Header */
header {
  background-color: var(--white-color);
}

.logo {
  color: var(--title-text-color);
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-accent {
  color: var(--accent-color);
}

.logo-inverse {
  color: var(--white-color);
}

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contacts .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* Footer */
footer {
  color: var(--white-color);
  background-color: var(--background-dark-color);
}

.address {
  font-style: inherit;
}

.location {
  color: var(--white-color);
  text-decoration: none;
}

.address-contacts .link {
  color: var(--secondary-text-color);
  text-decoration: none;
}

/* Visually-hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
